// Should be declared a max-width for every element

@mixin multiline($lines-to-show, $font-size: 1rem, $line-height: 1.4) {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
  /* autoprefixer: on */
  display: block; // Fallback for non-webkit
  /* autoprefixer: off */
  display: -webkit-box;
  /* autoprefixer: off */
  font-size: $font-size;
  height: $font-size*$line-height*$lines-to-show; // Fallback for non-webkit
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}
