//
// Basic typography style for copy text
//
@import "../abstracts/variables.scss";

body {
    color: $color-base;
    font-family: $font-family-base;
    font-size: #{$base-size} / 16 + em;
    line-height: #{$line-height} / #{$base-size};
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
form,
pre,
hr {
    margin-bottom: $line-height + px;
    margin-bottom: #{$line-height}/#{$base-size} + rem;
}
